:host {
  display: block;
  background-color: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
  outline: none;
  font-weight: inherit;
  font-size: 1em;
}

#animationDuration {
  width: 90%;
  display:block;
  margin: 12px auto;
  direction: ltr;
}


